// Sakura.css v1.3.0, with minor customizations
// ================
// Minimal css theme.
// Project: https://github.com/oxalorg/sakura/
//

//
// Body
//
html {
  font-size: 62.5%;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #050f1a; }

body {
  font-size: 2.1rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #bdbdbd;
  padding: 13px; }

@media (max-width: 684px) {
  body {
    font-size: 1.83rem; } }

@media (max-width: 382px) {
  body {
    font-size: 1.65rem; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2.00em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin-top: 0px;
  margin-bottom: 2.5rem; }

small, sub, sup {
  font-size: 75%; }

hr {
  border-color: #2c8898; }

a {
  text-decoration: none;
  transition: color 0.1s;
  color: #d0931e; }
  a:hover {
    color: #982c2c;
    border-bottom: 1px solid #4a4a4a; }

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

li {
  margin-bottom: 0.4em; }

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #d0931e; }

img {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

//
// Pre and Code
//
pre {
  background-color: #373737ad;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem; }

code {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #373737ad;
  white-space: pre-wrap; }

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre; }

pre, code {
  font-family: monospace;
}

//
// Tables
//
table {
  text-align: left;
  width: 100%;
  border-collapse: collapse; }

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #373737ad; }
