img {
  opacity: 0.85;
  border-radius: 1em;
  width: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

ul.contact-list {
  text-align: center;
}

a, a:visited, a:hover {
  color: #b58900;
}

.feed-subscribe {
  display: none;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.embed-container {
  margin: 1em 0;
}
