.home-image {
  width: 50%;
  border-radius: 1em;
}

img {
  opacity: 0.85;
}

ul.contact-list {
  text-align: center;
}

a, a:visited, a:hover {
  color: #b58900;
}

.feed-subscribe {
  display: none;
}
