---
layout: default
---

{%- if page.title -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{% assign posts = site.posts %}
{% assign tags = site.tags | sort %}

{%- if posts.size > 0 and tags.size > 0 -%}
  <h2>Blog</h2>

  {% for tag in tags %}
    <fieldset class="fieldset block p-4">
      {% assign tag_name = tag | first %}
      <legend class="px-4 mx-4 is-size-4">{{ tag_name | replace: '-', ' ' | capitalize }}</legend>

      {% assign posts = site.tags[tag_name] | sort %}
      {% for post in posts %}
        <div class="columns is-gapless">
          <div class="column is-hidden-desktop">
            <em><time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></em>
          </div>
          <div class="column">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </div>
          <div class="column has-text-right is-hidden-touch">
            <em><time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></em>
          </div>
        </div>
      {% endfor %}
    </fieldset>
  {% endfor %}
{%- endif -%}
