---
layout: default
---

{%- if page.title -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{% assign posts = site.posts %}
{% assign tags = site.tags | sort %}

{%- if posts.size > 0 and tags.size > 0 -%}
  <h2>Blog</h2>

  {% for tag in tags %}
    {% assign tag_name = tag | first %}
    <h3>{{ tag_name | replace: '-', ' ' | capitalize }}</h3>

    <ul class="is-dotless">
      {% assign posts = site.tags[tag_name] | sort %}
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          <em style="float: right;">
            <time datetime="{{ post.date }}">
              {{ post.date | date: "%b %-d, %Y" }}
            </time>
          </em>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{%- endif -%}
